!!! 5
%html{:lang => "en", :class => "no-js"}
  %head
    = partial "_/top"
    %link{:href => "/css/work.css", :rel => "stylesheet"}
    %link{:href => "#{@page.abspath}.css", :rel => "stylesheet"}
  %body
    = partial "_work/header"

    #main.container(role="main")
      = yield

    = partial "_work/footer"
  = partial "_/bottom"