!!! 5
%html{:lang => "en", :class => "no-js"}
  %head
    = partial "head"
  %body
    #container
      = partial "_work/header"

      #main(role="main")
        = yield

      = partial "_work/footer"
    = partial "bottom"