!!! 5
%html{:lang => "en", :class => "no-js"}
  %head
    = partial "top"
    %link{:href => "/css/work.css", :rel => "stylesheet"}
    %link{:href => "./style.css", :rel => "stylesheet"}
  %body
    #container
      = partial "_work/header"

      #main(role="main")
        = yield

      = partial "_work/footer"
    = partial "bottom"