!!! 5
%html{:lang => "en", :class => "no-js"}
  %head
    = partial "top"
    / %link{:href => "/css/work.css", :rel => "stylesheet"}
    %link{:href => "#{@page.abspath}/../style.css", :rel => "stylesheet"}
  %body
    .container.content
      = partial "_work/header"

      #main(role="main")
        = yield

      = partial "_work/footer"
    = partial "bottom"