.topbar
/
  Masthead
  ============================================================================
.header.masthead.row
  .span2.offset1
    %h1 Glimmer
    %p.lead Something about Glimmer
  .mastnav.span8
    %ul.nav
      %li.active
        %a(href="#{@page.abspath}/../home" title="Home") Home
      %li
        %a(href="#{@page.abspath}/../shop" title="Shop") Shop
      %li
        %a(href="#{@page.abspath}/../collections" title="collections") Collections
      %li
        %a(href="#{@page.abspath}/../blog" title="Blog") Blog
      %li
        %a(href="#{@page.abspath}/../contact" title="Contact") Information

